body {
    background-image: url("../img/avif/panel.avif");
    background-color: #6d1834;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* arreglos de navbar */
.logout-btn {
    padding: 8px 18px;
    background-color: transparent;
    border: #6d1834 solid 1px;
    color: #6d1834;
    display: inline-flex;
    border-radius: 50px;
    text-decoration: none;
    font-size: 15px;
    justify-self: end;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout-btn:hover {
    color: #fff;
    background-color: #6d1834;
    padding: 8px 20px;
    transform: scale(1.05);
}

.panel .item:hover {
    cursor: pointer;
    color: #6d1834;
}

/* panel carta */
.carta-section {
    display: none;
}

.carta-section.act {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    gap: 25px;
}

.tabla-container {
    margin: auto;
    width: 75%;
    border-radius: 30px;
}

/* nav */
.nav_block {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.categorias {
    display: flex;
    text-align: center;
    border-radius: 50px;
    gap: 6px;
    overflow: hidden;
}

.categorias button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: transparent;
    background-color: transparent;
    font-family: inherit;
    color: inherit;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.categorias button:hover {
    background-color: #ffffff28;
}

.categorias button.tab {
    padding: 8px 20px;
}

.categorias button:not(.add):hover {
    padding: 8px 25px;
}

.categorias button.add {
    padding: 8px 9px 8px 7px;
}

.categorias button.add:hover {
    padding: 8px 15px 8px 13px;
}

.categorias button svg {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
    color: #1e3932;
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.categorias button.act {
    color: #fff;
}

.categorias button.act#tab-bebidas {
    background-color: #a82b13;
}

.categorias button.act#tab-postres {
    background-color: #720c61;
}

.categorias button.act#tab-aperitivos {
    background-color: #234564;
}

/* tablas */
.tabla-block {
    display: none;
    border-radius: 16px;
    overflow: hidden;
    margin: 30px 40px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.062);
}

.tabla-block.act {
    display: block;
    visibility: visible;
    opacity: 1;
}

.bebidas {
    border-left: 6px solid #a82b13;
}

.postres {
    border-left: 6px solid #720c61;
}

.aperitivos {
    border-left: 6px solid #234564;
}

.tabla-block table {
    border-collapse: collapse;
    width: 100%;
}

.tabla-block thead {
    background: rgba(255, 255, 255, 0.178);
}

.tabla-block th, .tabla-block td {
    padding: 8px 10px;
    border: none;
    text-align: center;
    vertical-align: middle;
}

.tabla-block th:not(.del):hover {
    color: #6d1834;
}

.tabla-block tr, .tabla-block th, .tabla-block td, td.icon svg {
    transition: all 0.3s ease;
}

.tabla-block tr:hover {
    background: rgba(255, 255, 255, 0.103);
}

.tabla-block td:not(.icon.trash):hover, .tabla-block th:hover {
    background: rgba(255, 255, 255, 0.103);
}

th.del {
    color: #a82450;
}

.tabla-block img {
    width: 30px;
}

td.icon {
    padding: 2px 6px;
    width: 40px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

td.icon svg {
    display: block;
    margin: auto;
    color: #1e3932;
}

td.icon button {
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    padding: 10px 8px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

td.icon.pencil:hover svg {
    color: #6d1834;
}

td.icon.trash:hover {
    background: rgba(216, 27, 68, 0.171);
}

td.icon.trash:hover svg {
    color: #d81b44;
}

svg.pencil {
    width: 27px;
    height: 27px;
}

svg.trash {
    width: 20px;
    height: 20px;
}

/* agregar productos */
.form-add-producto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    gap: 20px;
    inset: 0;
    z-index: 9999;
    backdrop-filter: blur(5px);
    background-color: #d499a457;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.form-add-producto.act {
    visibility: visible;
    opacity: 1;
}

.form-add-producto .left {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.left .title {
    font-size: 25px;
    font-weight: bold;
}

.left input, .left select {
    width: 90%;
    display: flex;
    outline: none;
    border: #6d183400;
    border-radius: 30px;
    padding: 20px;
    width: 450px;
    height: auto;
    color: #6d1834;
    background-color: #ffffff2d;
    box-sizing: border-box;
    font-family: 'Miranda Sans', sans-serif;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: textfield;
    transition: all 0.3s ease;
}

.left input::placeholder {
    color: #6d183493;
}

.left select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.left input:focus, .left select:focus {
    border: #6d1834 1px solid;
}

.left .button-container {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.left button {
    background-color: #ffffff2d;
    font-family: inherit;
    border-radius: 30px;
    border: #6d1834 1px solid;
    padding: 10px 20px;
    color: #6d1834;
    transition: all 0.3s ease;
}

.left button:hover {
    background-color: #6d1834;
    color: #fff;
    border: #6d1834;
    padding: 10px 25px;
    transform: scale(1.05);
}

.left button.hide-btn {
    display: none;
}

.right img {
    border-radius: 20px;
    max-height: 350px;
    animation: bg-rotate 20s infinite;
}

@keyframes bg-rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* sección reservas */
.reservas-section {
    display: none;
}

.reservas-section.act {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}

/* sección mensajes */
.mensajes-section {
    display: none;
}

.mensajes-section.act {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}

/* sección usuarios */
.usuarios-section {
    display: none;
}

.usuarios-section.act {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}

.modal-overlay {
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffdae228;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.modal-overlay.active {
    visibility: visible;
    opacity: 1;
}

.modal-overlay.fade-out {
    animation: fadeOut 0.3s ease forwards;
}

.modal-content {
    font-family: inherit;
    border-radius: 20px;
    padding: 30px;
    max-width: 450px;
    width: 90%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.modal-header h2 {
    font-size: 1.5rem;
    color: #6d1834;
    margin: 0;
    font-weight: 600;
}

.modal-close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #6d1834;
    transition: all 0.3s ease;
}

.modal-close:hover {
    transform: rotate(90deg);
}

.modal-close svg {
    width: 24px;
    height: 24px;
}

.modal-body {
    margin-bottom: 25px;
}

.modal-body p {
    color: #000;
    font-size: 1rem;
    margin-bottom: 15px;
}

.product-info {
    border: 1px solid #6d1834;
    border-radius: 50px;
    padding: 12px 15px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#productName {
    font-weight: 600;
    color: #333;
    font-size: 1.1rem;
}

#productCategory {
    background: #6d18343b;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.85rem;
    color: #eecdcb;
}

.warning-text {
    color: #e74c3c;
    font-size: 0.9rem;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 15px;
}

.modal-footer button {
    padding: 10px 24px;
    border: none;
    border-radius: 40px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #6d1834;
    color: #6d1834;
    background-color: transparent;
}

.modal-footer button:hover {
    padding: 10px 28px;
    transform: scale(1.05);
}

.cancel-btn:hover {
    color: #fff;
    background-color: #6d1834;
}

.delete-btn:hover {
    color: #fff;
    background: #d81b44;
    border: 1px solid #d81b44;
}

.delete-btn:active {
    transform: translateY(0);
}

@media (max-width: 600px) {
    .modal-content {
        padding: 20px;
        width: 95%;
    }

    .modal-header h2 {
        font-size: 1.2rem;
    }

    .modal-footer {
        flex-direction: column-reverse;
    }

    .modal-btn {
        width: 100%;
        padding: 12px;
    }
}

/* panel reservas */
.tab-reservas {
    border-left: 6px solid #1e3932;
}

/* panel mensajes */
.tab-mensajes {
    border-left: 6px solid #6d1834;
}

.mensaje-cell {
    width: 300px;
    max-width: 300px;
    text-align: center;
    vertical-align: middle;
}

.mensaje-cell span {
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    position: relative;
    cursor: pointer;
}

/* panel pedidos */
.tab-pedidos {
    border-left: 6px solid #19525a;
}

.btn-view {
    font-family: inherit;
    color: #1e3932;
    font-size: inherit;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    padding:6px 14px;
    white-space:nowrap;
}