html {
    scroll-behavior: smooth;
    font-family: 'Miranda Sans', sans-serif;
}

body {
    font-family: 'Miranda Sans', sans-serif;
    background: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: inherit;
    filter: blur(0px);
    z-index: -2;
}

section {
    scroll-margin-top: 150px;
}

a {
    text-decoration: none;
}

.home {
    background-image: url('https://images.unsplash.com/photo-1496582490020-60c1344c64aa?q=80&w=1181&auto=format&fit=crop');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* temas por página */

.light, .dark {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.light {
    color: #1e3932;
    background-color: #ffe8c9;
}

.dark {
    color: #fff;
    background-color: #360e06;
}

.miranda-sans {
    font-family: "Miranda Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* barra de navegación */
.block-menu {
    position: sticky;
    top: 20px;
    z-index: 1000;
}

.navbar {
    width: 80%;
    margin: 30px auto;
    padding: 15px 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-size: 25px;
    font-weight: bold;
    display: inline;
    transition: transform 0.4s ease, color 0.4s ease;
    justify-self: start;
}

.nav-logo:hover {
    transform: scale(1.05);
}

.nav-menu a {
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 0.4s ease;
    justify-self: center;
    padding: 0px 0px;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
}

.nav-menu a:hover {
    transform: scale(1.05);
    padding: 0px 5px;
}

a.into {
    color: #ffe8c9;
}

.btn a {
    padding: 8px 18px;
    display: inline-flex;
    border-radius: 50px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.4s ease;
    justify-self: end;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
}

.btn a:hover {
    padding: 8px 20px;
    transform: scale(1.05);
}

.dark .btn a {
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}

.dark .btn a:hover {
    border: 1px solid #fff;
    color: #1e3932;
    background-color: #fff;
}

.light .btn a {
    color: #1e3932;
    border: 1px solid #1e3932;
    transition: all 0.3s ease;
}

.light .btn a:hover {
    border: 1px solid #1e3932;
    color: #fff;
    background-color: #1e3932;
}

.text {
    color: #fff;
}

.item {
    transition: all 0.3s ease;
}

.item:hover {
    transform: scale(1.05);
}

.dark .item {
    color: #fff;
}

.dark .item:hover {
    color: #ffe8c9;
}

.light .item {
    color: #360e06;
    text-shadow: 0 5px 15px rgb(255, 226, 172);
}

.light .item:hover {
    color: #1e3932;
}

/* menú hamburguesa */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

@media (max-width: 900px) {
    .menu-toggle {
        display:block;
    }

    .nav-menu {
        position:absolute;
        top: 90px;
        left: 0;
        flex-direction:column;
        align-items:center;
        display: none;
    }

    .nav-menu a {
        margin: 0;
        font-size: 1.2rem;
    }

    .btn {
        display: none;
    }

    .btn.active {
        display: flex;
        opacity: 0;
        visibility: hidden;
        text-shadow: 0 5px 10px rgba(255, 224, 186, 0.712);
        transition: all 0.4s ease;
    }
}

.menu-fullscreen {
    position: fixed;
    flex-direction: column;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    opacity: 0;
    visibility: hidden;
    z-index: 2000;
    transition: all 0.4s ease;
}

.menu-fullscreen.active {
    opacity: 1;
    visibility: visible;
}

.dark .menu-fullscreen {
    background-color: #360e0650;
}

.light .menu-fullscreen {
    background-color: #ffe8c95e;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.menu-list .item {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.menu-list .a.act {
    opacity: 1;
    visibility: visible;
}

.dark .menu-list .item {
    text-shadow: 0 5px 7px rgba(73, 41, 3, 0.575);
}

.light .menu-list .item {
    text-shadow: 0 5px 7px rgba(255, 224, 186, 0.548);
}

.exis {
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
}

/* bloques */
header {
    background: #111;
    color: white;
    padding: 15px;
    text-align: center;
}

footer {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    gap: 10px;
}

a {
    text-decoration: none;
}

/* glassmorphism */
.glass {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow:
        0 2px 32px rgba(0, 0, 0, 0.025),
        0 4px 5px rgba(0, 0, 0, 0.025);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

/* footer */
.copy {
    display: inline-block;
    font-weight: 500;
    padding: 10px 15px;
    align-items: center;
    border-radius: 50px;
    transition: all 0.4s ease;
    cursor: pointer;
    text-decoration: none;
}

.copy a {
    text-decoration: none;
    color: inherit;
}

.copy:hover {
    padding: 10px 20px;
    transform: scale(1.05);
}

.dark .copy {
    color: #fff;
    transition: all 0.3s ease;
}

.dark .copy:hover {
    color: #ffe8c9;
}

.light .copy {
    color: #360e06;
    transition: all 0.3s ease;
}

.light .copy:hover {
    color: #1e3932;
}

/* botones del footer */
.footer-btn {
    cursor: pointer;
    display: inline-block;
    padding: 8px 9px;
    border-radius: 50px;
    transition: all 0.4s ease;
}

.footer-btn:hover {
    padding: 8px 15px;
    transform: scale(1.05);
}

.dark .footer-btn {
    color: #fff;
    transition: all 0.3s ease;
}

.dark .footer-btn:hover {
    color: #ffe8c9;
}

.light .footer-btn {
    color: #360e06;
    transition: all 0.3s ease;
}

.light .footer-btn:hover {
    color: #1e3932;
}

svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* texto nota */
.nota {
    font-size: 14px;
    opacity: 0.8;
}

.light .nota {
    color: #383838;
}

.dark .nota {
    color: #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
}

button {
    outline: none;
}